.full-page {
	margin: 0;
	padding: 0;
  }

  body, html {
	margin: 0;
	padding: 0;
  }
  header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #007BFF;
	color: #FFF;
	padding: 10px;
  }
  
  .hospital-logo img {
	height: 100px;
  }
  .sign-in-button {
	background-color: #FFF;
	color: #007BFF;
	border: 2px solid #007BFF;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .sign-in-button:hover {
	background-color: #007BFF;
	color: #FFF;
  }
  
  .login-options {
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }
  
  .user-login-button,
  .staff-login-button {
	background-color: #007BFF;
	color: #FFF;
	border: none;
	padding: 8px 15px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .user-login-button:hover,
  .staff-login-button:hover {
	background-color: #0056b3;
  }
  

  .signup-container {
	max-width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .signup-container h2 {
	text-align: center;
  }
  
  .input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
  }
  
  .input-group label {
	font-weight: bold;
  }
  
  .input-group input {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  button {
	padding: 8px 15px;
	background-color: #007BFF;
	color: #FFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
  }

  .makeStyles-paper-2{
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: aqua;
    padding: 20px 20px;
    border-radius: 30px;
}
.MuiLink-underlineHover {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
@media(max-width: 700px){
	.b1{
		display: block;
		flex-direction: column;
	}
  }
