
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

.fp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.fmp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 16px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: dodgerblue;
  color: white;
}

p {
  margin-top: 16px;
  text-align: center;
}
.buttoncp{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}
/* profile-style.css */

/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
}

/* Profile Image */
.profile-image {
  text-align: center;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Profile Info */
.profile-info {
  width: 100%;
  max-width: 600px;
}

.profile-form {
  margin-top: 20px;
}

.profile-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group .label-left {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

.form-group .form-control[disabled] {
  background-color: #f9f9f9;
  color: #777;
}

/* Modal Profile Details */
.modal-profile-details {
  display: flex;
}

.modal-profile-details .profile-image {
  text-align: center;
  margin-right: 20px;
}

.modal-profile-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal-profile-details .profile-info {
  flex: 1;
}

.modal-profile-form {
  margin-top: 20px;
}

.modal-profile-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-profile-form .label-top {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-profile-form .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

.modal-profile-form .form-control[disabled] {
  background-color: #f9f9f9;
  color: #777;
}
/* Reset default styles for consistency */
body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.App {
  position: relative; /* To position the login options correctly */
}

header {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li.login-button {
  margin-left: auto;
  cursor: pointer;
}

.login-button {
  cursor: pointer;
  position: relative;
    text-align: center;
    background-color: white;
    color: black;
    width: 100px;
    display: flex;
    justify-content: center;
    height: 34px;
    padding: 4px;
    border-radius: 9px;
}

.login-options {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  width: 200px;
}
.silo{
  display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.ls{
  background-color: transparent;
  background: none;
}

.login-options p {
  margin-bottom: 10px;
}

.login-options button {
  margin-bottom: 5px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
}
.MuiLink-underlineHover {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.makeStyles-paper-2 {
  border-radius: 15px;
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav ul li.login-button {
    margin-left: 0;
    margin-top: 10px; /* Added to separate the button from other menu items */
  }

  .login-options {
    right: auto;
    left: 20px;
  }
}


